Package: fabrica-lvm-installer
Version: 0.0.0-5
Architecture: all
Maintainer: Piero Proietti <piero.proietti@gmail.com>
Depends: yad
Section: admin
Priority: extra
Homepage: http://www.piojoris15.com/
Description: Fabrica-VE: un server per la virtualizzazione amichevole. Derivato da Proxmox-VE
 Script per l'installazione di Fabrica-VE su LVM2.
 Sito: http://www.piojoris15.com/
 Autore: Piero Proietti <piero.proietti@gmail.com>
