Package: fabrica-lvm-installer
Version: 0.0.0-4
Architecture: all
Maintainer: Piero Proietti <piero.proietti@gmail.com>
Depends: yad, genisoimage, libcrypt-passwdmd5-perl, live-boot, live-boot-doc, live-boot-initramfs-tools, live-config, live-config-doc, live-config-sysvinit, live-tools, squashfs-tools, syslinux, syslinux-common, user-setup
Section: admin
Priority: extra
Homepage: http://www.piojoris15.com/
Description: Fabrica-VE: un server per la virtualizzazione amichevole. Derivato da Proxmox-VE
 Script per l'installazione di Fabrica-VE su LVM2.
 Sito: http://www.piojoris15.com/
 Autore: Piero Proietti <piero.proietti@gmail.com>
