Package: fabrica-installer
Version: 0.0.1-7
Architecture: all
Maintainer: Piero Proietti <piero.proietti@gmail.com>
Depends: yad, systemback
Section: admin
Priority: extra
Homepage: http://www.piojoris15.com/
Description: Script per l'installazione di Fabrica-VE su LVM2.
 Fabrica-VE: un server per la virtualizzazione amichevole, derivato da Proxmox-VE
 con l'aggiunta di interfaccia grafica cinnamon e quanto occorre per un server
 domestico.
 Sito: http://www.piojoris15.com/
 Autore: Piero Proietti <piero.proietti@gmail.com>
